.contacts {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  height: 100vh;

  background: #ffdbc5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts-icons {
  margin: auto 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 730px) {
  .contacts {
    grid-template-columns: 1fr;
    padding-top: 20px;
  }
  .contacts-icons {
    display: flex;
    flex-direction: row;
  }
}
