@import url('https://fonts.googleapis.com/css?family=Open+Sans|Prata');

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#141e30, #243b55);
}

.home-content {
  display: flex;
  flex-direction: column;
  width: max-content;

  gap: 20px;
}

.home-button {
  padding: 50px 100px;
  font-family: Prata;
}
