.single {
}

.single-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 800px;
  background: transparent;
}
.single-top {
  display: flex;

  justify-content: space-evenly;
}

.single-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.back-button {
  margin: auto 0;
  transform: translatex(-200px);
  color: black;
  cursor: pointer;

  font-weight: 600;
  font-size: 18px;
  width: max-content;
  height: max-content;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.back-button:hover {
  border: 1px solid #ffd700;

  color: black;
}
.single-h1 {
  font-size: 30px;

  color: #00bbf0;
  text-align: center;

  box-shadow: #00bbf0 4px 4px 0 0;
}

.single-release {
  font-size: 14px;
  color: #ffd700;
  text-align: left;
}

.single-release span {
  color: white;
  padding: 5px;
  font-weight: bold;
}

.single-content-both-sides {
  display: flex;
}

.single-content-left-side {
  display: flex;
  flex-direction: column;
}

.single-img {
  margin: auto;
  max-height: 300px;
  max-width: 200px;
}

.single-description {
  max-width: 300px;
  padding: 5px 5px;
  display: flex;
  display-direction: column;
}
.single-rating {
  display: flex;
  flex-direction: column;
  color: white;
}

.single-movie-rating {
  font-weight: bold;
}

.single-movie-rating-span {
  font-weight: normal;
  padding: 5px;
  color: #ffd700;
}

.single-p {
  text-align: left;

  font-size: 16px;
  line-height: 20px;
  color: white;
}

.single-watch-library {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.watch-button {
  background-color: #00bbf0;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  width: max-content;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.watch-button:hover {
  border: 1px solid white;

  color: black;
}

.library-button {
  background-color: #ffd700;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  width: max-content;
  margin: auto;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.library-button:hover {
  border: 1px solid white;

  color: black;
}
.library-button:disabled {
  background-color: red;
  color: red;
}

.single-menu {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .back-button {
    transform: translatex(-150px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .single-h1 {
    font-size: 30px;
  }
  .single-p {
    font-size: 14px;
    line-height: 30px;
  }
  .back-button {
    transform: translatex(-100px);
  }
}

@media screen and (min-width: 651px) and (max-width: 767px) {
  .single-h1 {
    font-size: 30px;
  }
  .single-p {
    font-size: 14px;
    line-height: 20px;
  }
  .back-button {
    transform: translatex(-75px);
  }
}

@media screen and (max-width: 650px) {
  .single-top {
  }
  .single-h1 {
    font-size: 30px;
  }

  .single-description {
    width: 90vw;
  }
  .single-p {
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
  }
  .back-button {
    transform: translatex(0);
  }
}
